<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Register</h4>
      </div>
      <!-- form start -->
      <%= form_for(@user = User.new, url: {controller: 'users', action: 'create'},remote: true, html: {id: 'register-form'}) do |f| %>
      <div class="modal-body">
        <div class="form-group">
          <%= f.label(:email, 'Email address', class: 'control-label') %>
          <%= f.email_field :email, class: 'form-control', placeholder: 'Enter email','data-toggle': 'popover', 'data-placement': 'bottom', title: 'Email', 'data-content': 'Vivamus
          sagittis lacus vel augue laoreet rutrum faucibus.' %>
          <span class="errorStatus control-label">Email is not correct</span>
        </div>
        <div class="form-group">
          <%= f.label(:password, 'Password', class: 'control-label') %>
          <%= f.password_field :password, class: 'form-control', placeholder: 'Password', 'data-toggle': 'popover', 'data-placement': 'bottom', title: 'Email', 'data-content': 'Vivamus
          sagittis lacus vel augue laoreet rutrum faucibus.' %>
          <span class="errorStatus control-label">Email is not correct</span>
        </div>
        <div class="form-group">
          <%= f.label(:password_confirmation, 'Confirm password', class: 'control-label') %>
          <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirm password', 'data-toggle': 'popover', 'data-placement': 'bottom', title: 'Email', 'data-content': 'Vivamus
          sagittis lacus vel augue laoreet rutrum faucibus.' %>
          <span class="errorStatus control-label">Email is not correct</span>

        </div>
        <div class="checkbox modal-body">
          <label class="row">
            <%= f.check_box :accept, 'data-toggle': 'popover', 'data-placement': 'right', 'title': 'Terms of Service & Privacy Policy', 'data-content': 'You have to agree to the Terms of Service & Privacy Policy to use our service' %> I agree to the <a href="#" data-toggle="modal" data-target="#termModal">Terms of Service & Privacy Policy</a>
          </label>
          <p class="errorStatus control-label">Email is not correct</p>
        </div>


        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= submit_tag('Next step', type: 'submit', class: 'btn btn-primary') %>
        </div>
        <% end %>
      </div>
      <!-- form end -->
    </div>
  </div>
</div>