<!DOCTYPE html>
<html>
<head>
	<title><%= @title.blank? ? 'Book Store' : @title %></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<!-- Bootsrap -->
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	
</head>
<body>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

	<%= render('nav') %>
	<%= render('login') %>
	<%= render('register') %>
	<%= render('terms') %>

	<section class="container">
		<%= yield %>
	</section>

	

	<p id="responce"></p>

	<div class="clearfix"></div>

	<footer class="footer">
      <div >
        <div class="pull-left">
        	<p class="text-muted">Place sticky footer content here.</p>
        	<p class="text-muted">Place sticky footer content here.</p>
        	<p class="text-muted">Place sticky footer content here.</p>

        </div>
        <div class="pull-right">
        	<p class="text-muted">Place sticky footer content here.</p>
        	<p class="text-muted">Place sticky footer content here.</p>
        	<p class="text-muted">Place sticky footer content here.</p>

        </div>
      </div>
    </footer>
	
	<!-- Bootsrap -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>

</html>
