<!DOCTYPE html>
<html>
<head>
	<title><%= @title.blank? ? 'Book Store' : @title %></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<!-- Bootsrap -->
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>

	<%= javascript_tag "var authenticity_token = '#{form_authenticity_token}';" %>

	<%= render('nav') %>
	<%= render('login') %>
	<%= render('register') %>
	<%= render('terms') %>

	<%= yield %>

	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


	<p id="responce"></p>
	<!-- Bootsrap -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>
